<div class="details--masonry">
    <!-- Fixed Panel -->
    <div class="details--masonry__fixed-panel pr-4">
        <!-- Title -->
        <h1 class="mb-4" ng-bind="ctrl.movie.title"></h1>

        <!-- Poster & Rating -->
        <div class="details--masonry__poster position-relative mb-4">
            <rating rating="ctrl.movie.vote_average"></rating>

            <img src="http://image.tmdb.org/t/p/w300{{ctrl.movie.poster_path}}" alt="{{ctrl.movie.title}}" ng-if="ctrl.movie.poster_path" />
            <img src="/resources/no-poster-w300.png" alt="{{ctrl.movie.title}}" ng-if="!ctrl.movie.poster_path" />
        </div>

        <div class="row mx-0 mb-4">
            <!-- Release Date -->
            <div class="col p-0" ng-if="ctrl.movie.release_date">
                <div>Release Date:</div>
                <div class="font-weight-normal" ng-bind="ctrl.movie.release_date | date"></div>
            </div>

            <!-- Runtime -->
            <div class="col p-0" ng-if="ctrl.movie.runtime">
                <div>Runtime:</div>
                <div class="font-weight-normal" ng-bind="ctrl.movie.runtime + ' min'"></div>
            </div>
        </div>

        <!-- Genres -->
        <div ng-if="ctrl.movie.genres.length > 0">
            <div>Genres:</div>
            <div class="font-weight-normal" ng-bind="ctrl.genres"></div>
        </div>
    </div>

    <!-- Scrollable Panel  -->
    <div class="details--masonry__scrollable-panel">
        <div class="mb-4 pb-4" ng-if="ctrl.directors != '' || ctrl.writers != '' || ctrl.novelists != ''">
            <!-- Directors -->
            <div ng-if="ctrl.directors != ''">
                <div>Director:</div>
                <div class="font-weight-normal" ng-bind="ctrl.directors"></div>
            </div>

            <!-- Screenplay By -->
            <div class="mt-2" ng-if="ctrl.writers != ''">
                <div class="font-weight-bold">Screenplay By:</div>
                <div class="font-weight-normal" ng-bind="ctrl.writers"></div>
            </div>

            <!-- From The Novel By -->
            <div class="mt-2" ng-if="ctrl.novelists != ''">
                <div>From The Novel By:</div>
                <div class="font-weight-normal" ng-bind="ctrl.novelists"></div>
            </div>
        </div>

        <!-- Overview -->
        <div class="mb-4 pb-4" ng-bind="ctrl.movie.overview" ng-if="ctrl.movie.overview"></div>

        <!-- Video -->
        <div class="mb-4 pb-4" ng-if="ctrl.trailer">
            <div class="video-container embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" ng-src="{{ctrl.trailer}}" allowfullscreen></iframe>
            </div>
        </div>

        <!-- Cast -->
        <div class="mb-4 pb-4" ng-if="ctrl.movie.credits.cast.length > 0">
            <h3 class="mb-2">Cast</h3>
            <cast cast-list="ctrl.movie.credits.cast"></cast>
        </div>

        <!-- Similar Movies -->
        <div ng-if="ctrl.movie.similar.results.length > 0">
            <h3 class="mb-2">Similar Movies</h3>
            <similar-movies similar-movies="ctrl.movie.similar.results"></similar-movies>
        </div>
    </div>
</div>