<div class="row">
    <!-- Movie infos -->
    <div class="col-8">
        <div class="mb-4" ng-if="ctrl.movie != null">
            <div class="d-flex mb-2">
                <div class="w-100 d-flex flex-column align-items-stretch">
                    <!-- Title -->
                    <div class="d-flex align-items-center col px-0 font-size-1-5" ng-bind="ctrl.movie.title"></div>

                    <!-- Details -->
                    <div class="d-flex align-items-center">
                        <!-- Runtime -->
                        <div class="text-nowrap list-item-separator" ng-bind="ctrl.movie.runtime + ' min'" ng-if="ctrl.movie.runtime"></div>
                        <!-- Genres -->
                        <div class="list-item-separator" ng-bind="ctrl.genres" ng-if="ctrl.movie.genres.length > 0"></div>
                        <!-- Release Date -->
                        <div class="text-nowrap list-item-separator" ng-bind="ctrl.movie.release_date | date" ng-if="ctrl.movie.release_date"></div>
                    </div>
                </div>

                <!-- Vote -->
                <div class="d-flex flex-column justify-content-center text-right ml-4">
                    <!-- Vote Average -->
                    <div class="font-size-1-5 text-nowrap" ng-bind="(ctrl.movie.vote_average) + '/10'"></div>

                    <!-- Vote Count -->
                    <div class="text-nowrap" ng-bind="ctrl.movie.vote_count + ' votes'"></div>
                </div>
            </div>

            <div class="d-flex mb-2">
                <!-- Poster -->
                <img class="mr-2" src="http://image.tmdb.org/t/p/w185{{ctrl.movie.poster_path}}" ng-if="ctrl.movie.poster_path != null" />
                <img class="mr-2" src="/resources/no-poster-w185.png" ng-if="ctrl.movie.poster_path == null" />

                <!-- Video -->
                <div class="video-container video-container--imdb embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" ng-src="{{ctrl.trailer}}" allowfullscreen></iframe>
                </div>
            </div>

            <!-- Overview -->
            <div class="mb-4" ng-bind="ctrl.movie.overview"></div>

            <!-- Directors -->
            <div class="mb-1" ng-if="ctrl.directors != ''">
                <span class="font-weight-bold">Director:</span>
                <span ng-bind="ctrl.directors"></span>
            </div>

            <!-- Screenplay By -->
            <div class="mb-1" ng-if="ctrl.writers != ''">
                <span class="font-weight-bold">Screenplay By:</span>
                <span ng-bind="ctrl.writers"></span>
            </div>

            <!-- From The Novel By -->
            <div ng-if="ctrl.novelists != ''">
                <span class="font-weight-bold">From The Novel By:</span>
                <span ng-bind="ctrl.novelists"></span>
            </div>
        </div>

        <!-- Cast -->
        <cast cast-list="ctrl.movie.credits.cast" ng-if="ctrl.movie.credits.cast.length > 0"></cast>
    </div>

    <!-- Similar movies -->
    <div class="col-4" style="border-left: 1px dotted #565959">
        <similar-movies similar-movies="ctrl.movie.similar.results"></similar-movies>
    </div>
</div>