<div class="row details--flat">
    <!-- Background -->
    <div back-img="http://image.tmdb.org/t/p/w780{{ctrl.movie.poster_path}}"></div>

    <div class="col-12 col-xl-9 p-0 mx-auto z-index-2">
        <!-- Title -->
        <h1 class="mb-4" ng-bind="ctrl.movie.title"></h1>

        <!-- Details -->
        <div class="d-flex pb-4" style="background-color: rgba(0, 0, 0, 0.6)">
            <!-- Left Panel -->
            <div class="w-100 mr-4">
                <!-- Video -->
                <div ng-if="ctrl.trailer">
                    <div class="video-container embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" ng-src="{{ctrl.trailer}}" allowfullscreen></iframe>
                    </div>
                </div>

                <!-- Cast -->
                <div class="px-4 mt-4" ng-if="ctrl.movie.credits.cast.length > 0">
                    <h4 class="mb-4">Cast</h4>
                    <cast cast-list="ctrl.movie.credits.cast" color-theme="orange"></cast>
                </div>

                <!-- Similar Movies -->
                <div class="px-4 mt-4" ng-if="ctrl.movie.similar.results.length > 0">
                    <h4 class="mb-4">Similar Movies</h4>
                    <similar-movies similar-movies="ctrl.movie.similar.results" color-theme="green"></similar-movies>
                </div>
            </div>

            <!-- Right Panel -->
            <div class="width-300px">
                <!-- Poster -->
                <div class="position-relative">
                    <!-- Rating -->
                    <rating rating="ctrl.movie.vote_average" color-theme="green"></rating>

                    <img src="http://image.tmdb.org/t/p/w300{{ctrl.movie.poster_path}}" alt="{{ctrl.movie.title}}" ng-if="ctrl.movie.poster_path"
                    />
                    <img src="/resources/no-poster-w300.png" alt="{{ctrl.movie.title}}" ng-if="!ctrl.movie.poster_path" />
                </div>

                <div class="pr-4">
                    <!-- Overview -->
                    <div class="mt-2 pb-4" ng-bind="ctrl.movie.overview" ng-if="ctrl.movie.overview"></div>

                    <!-- Directors -->
                    <div class="mt-2" ng-if="ctrl.directors != ''">
                        <b>Director:</b>
                        <div ng-bind="ctrl.directors"></div>
                    </div>

                    <!-- Screenplay By -->
                    <div class="mt-2" ng-if="ctrl.writers != ''">
                        <b>Screenplay By:</b>
                        <div ng-bind="ctrl.writers"></div>
                    </div>

                    <!-- From The Novel By -->
                    <div class="mt-2" ng-if="ctrl.novelists != ''">
                        <b>From The Novel By:</b>
                        <div ng-bind="ctrl.novelists"></div>
                    </div>

                    <!-- Genres -->
                    <div class="mt-2" ng-if="ctrl.movie.genres.length > 0">
                        <b>Genres:</b>
                        <div ng-bind="ctrl.genres"></div>
                    </div>

                    <!-- Release Date -->
                    <div class="mt-2" ng-if="ctrl.movie.release_date">
                        <b>Release Date:</b>
                        <div ng-bind="ctrl.movie.release_date | date"></div>
                    </div>

                    <!-- Runtime -->
                    <div class="mt-2" ng-if="ctrl.movie.runtime">
                        <b>Runtime:</b>
                        <div ng-bind="ctrl.movie.runtime + ' min'"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>