<!-- Video -->
<div class="mb-4 black">
    <div class="container">
        <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" ng-src="{{ctrl.trailer}}" allowfullscreen ng-if="ctrl.trailer"></iframe>
            <div class="embed-responsive-item d-flex align-items-center justify-content-center white-text" ng-if="!ctrl.trailer">No video available</div>
        </div>
    </div>
</div>

<div class="row px-4">
    <div class="col s12 l7 xl8">
        <!-- Title -->
        <div class="d-flex align-items-center">
            <img class="mr-2" src="http://image.tmdb.org/t/p/w45{{ctrl.movie.poster_path}}" alt="{{ctrl.movie.title}}" ng-if="ctrl.movie.poster_path"
            />
            <img class="mr-2" src="/resources/no-poster-w45.png" alt="{{ctrl.movie.title}}" ng-if="!ctrl.movie.poster_path" />

            <h5 ng-bind="ctrl.movie.title"></h5>
        </div>

        <div class="divider my-4"></div>

        <!-- Details -->
        <div class="d-flex">
            <div class="w-100">
                <!-- Directors -->
                <div class="d-flex" ng-if="ctrl.directors != ''">
                    <b class="mr-2">Director:</b>
                    <div ng-bind="ctrl.directors"></div>
                </div>

                <!-- Screenplay By -->
                <div class="d-flex" ng-if="ctrl.writers != ''">
                    <b class="mr-2">Screenplay By:</b>
                    <div ng-bind="ctrl.writers"></div>
                </div>

                <!-- From The Novel By -->
                <div class="d-flex" ng-if="ctrl.novelists != ''">
                    <b class="mr-2">From The Novel By:</b>
                    <div ng-bind="ctrl.novelists"></div>
                </div>

                <!-- Release Date -->
                <div class="d-flex" ng-if="ctrl.movie.release_date">
                    <b class="mr-2">Release Date:</b>
                    <div ng-bind="ctrl.movie.release_date | date"></div>
                </div>

                <!-- Runtime -->
                <div class="d-flex" ng-if="ctrl.movie.runtime">
                    <b class="mr-2">Runtime:</b>
                    <div ng-bind="ctrl.movie.runtime + ' min'"></div>
                </div>

                <!-- Genres -->
                <div class="d-flex" ng-if="ctrl.movie.genres.length > 0">
                    <b class="mr-2">Genres:</b>
                    <div ng-bind="ctrl.genres"></div>
                </div>

                <!-- Overview -->
                <div class="mt-4" ng-bind="ctrl.movie.overview" ng-if="ctrl.movie.overview"></div>
            </div>

            <!-- Rating -->
            <rating rating="ctrl.movie.vote_average"></rating>
        </div>

        <div class="divider my-4"></div>

        <!-- Cast -->
        <div ng-if="ctrl.movie.credits.cast.length > 0">
            <h5 class="mb-4">Cast</h5>
            <cast cast-list="ctrl.movie.credits.cast"></cast>
        </div>
    </div>

    <!-- Similar Movies -->
    <div class="col s12 l5 xl4 pl-4">
        <similar-movies similar-movies="ctrl.movie.similar.results"></similar-movies>
    </div>
</div>