<h3 class="mb-4">
    <span ng-bind="ctrl.results == true ? 'Results for' : 'No results found for'"></span>
    <span class="font-weight-bold">"{{ctrl.resultsText}}"</span>
</h3>

<!-- Movies -->
<div style="margin-bottom: 4rem;" ng-show="ctrl.movies.length > 0">
    <h4>Movies</h4>
    <item-list list="ctrl.movies" type="movie" date-format="yyyy" show-release-date="true" show-overview="true" hide-table-header="true" show-rating="true"></item-list>
</div>

<!-- TV Shows -->
<div ng-show="ctrl.shows.length > 0">
    <h4>TV Shows</h4>
    <item-list list="ctrl.shows" type="show" date-format="yyyy" show-release-date="true" show-overview="true" hide-table-header="true" show-rating="true"></item-list>
</div>