<!-- Movies -->
<div style="margin-bottom: 4rem;" ng-if="ctrl.movies.length > 0">
    <h4>Movies</h4>
    <item-list list="ctrl.movies" type="movie" show-overview="true" show-rating="true" show-release-date="true"></item-list>
</div>

<!-- TV Shows -->
<div ng-if="ctrl.shows.length > 0">
    <h4>TV Shows</h4>
    <item-list list="ctrl.shows" type="show" show-overview="true" show-rating="true" show-release-date="true"></item-list>
</div>