<div class="container py-4">
    <div class="row">
        <div class="col s12">
            <ul tabs reload="allTabContentLoaded">
                <!-- Movies -->
                <li class="tab col s3">
                    <a class="active" href="#movies">
                        <div style="display: flex; align-items: center;">
                            <div style="flex-basis: 100%;">Movies</div>
                            <span class="new badge" data-badge-caption="" ng-bind="ctrl.movies.length"></span>
                        </div>
                    </a>
                </li>

                <!-- TV Shows -->
                <li class="tab col s3">
                    <a href="#shows">
                        <div style="display: flex; align-items: center;">
                            <div style="flex-basis: 100%;">TV Shows</div>
                            <span class="new badge" data-badge-caption="" ng-bind="ctrl.shows.length"></span>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <!-- Movies -->
    <div class="row" id="movies">
        <item-list list="ctrl.movies" type="movie" table-style="true" show-overview="true" show-rating="true" show-release-date="true"></item-list>
    </div>

    <!-- TV Shows -->
    <div class="row" id="shows">
        <item-list list="ctrl.shows" type="show" table-style="true" show-overview="true" show-rating="true" show-release-date="true"></item-list>
    </div>
</div>