<!-- Movies -->
<div class="mb-4" ng-if="ctrl.movies.length > 0">
    <h4 class="mdc-text-white-darker p-4 mb-4 flat-bg-red">Movies</h4>
    <item-list list="ctrl.movies" type="movie" show-overview="true" show-release-date="true" date-format="yyyy" show-rating="true" color-theme="red"></item-list>
</div>

<!-- TV Shows -->
<div class="mb-4" ng-if="ctrl.shows.length > 0">
    <h4 class="mdc-text-white-darker p-4 mb-4 flat-bg-blue">TV Shows</h4>
    <item-list list="ctrl.shows" type="show" show-overview="true" show-release-date="true" date-format="yyyy" show-rating="true" color-theme="blue"></item-list>
</div>