<h4 class="mb-4">Discover movies by popularity.</h4>

<item-list list="ctrl.moviesToDiscover" type="movie" date-format="yyyy" show-overview="true" show-rating="true" show-release-date="true"></item-list>

<div class="d-flex justify-content-center">
    <a href="" ng-click="ctrl.loadMore()">Load More</a>
</div>