<div infinite-scroll="ctrl.loadMore()" infinite-scroll-disabled='ctrl.busy' infinite-scroll-distance='0.5' ng-if="ctrl.moviesToDiscover.length > 0">
    <item-list list="ctrl.moviesToDiscover" type="movie" show-overview="true" show-rating="true" show-release-date="true"></item-list>
</div>