<!-- Categories -->
<div class="row mb-4 px-3">
    <!-- Now Playing -->
    <h6 class="col category--masonry" ng-class="{'category-1--masonry': ctrl.selectedCategory === 'nowPlaying'}" ng-click="ctrl.selectCategory('nowPlaying')">Now Playing</h6>

    <!-- Upcoming -->
    <h6 class="col category--masonry" ng-class="{'category-2--masonry': ctrl.selectedCategory === 'upcoming'}" ng-click="ctrl.selectCategory('upcoming')">Upcoming</h6>

    <!-- TV Shows On The Air -->
    <h6 class="col category--masonry" ng-class="{'category-3--masonry': ctrl.selectedCategory === 'onTheAir'}" ng-click="ctrl.selectCategory('onTheAir')">TV Shows On The Air</h6>

    <!-- TV Shows Airing Today -->
    <h6 class="col category--masonry" ng-class="{'category-4--masonry': ctrl.selectedCategory === 'airingToday'}" ng-click="ctrl.selectCategory('airingToday')">TV Shows Airing Today</h6>
</div>

<!-- Now Playing -->
<div ng-if="ctrl.selectedCategory === 'nowPlaying'">
    <item-list list="ctrl.nowPlaying" type="movie" show-overview="true"></item-list>
</div>

<!-- Upcoming -->
<div ng-if="ctrl.selectedCategory === 'upcoming'">
    <item-list list="ctrl.upcoming" type="movie" show-overview="true" show-fancy-release-date="true"></item-list>
</div>

<!-- TV Shows On The Air -->
<div ng-if="ctrl.selectedCategory === 'onTheAir'">
    <item-list list="ctrl.onTheAir" type="show" show-overview="true"></item-list>
</div>

<!-- TV Shows Airing Today -->
<div ng-if="ctrl.selectedCategory === 'airingToday'">
    <item-list list="ctrl.airingToday" type="show" show-overview="true"></item-list>
</div>