<div class="mb-4">
    <!-- Now Playing -->
    <a href="" ng-click="ctrl.goTo('now-playing')">Now Playing</a>

    <span class="mx-2">|</span>

    <!-- Upcoming -->
    <a href="" ng-click="ctrl.goTo('upcoming')">Upcoming</a>

    <span class="mx-2">|</span>

    <!-- TV Shows On The Air -->
    <a href="" ng-click="ctrl.goTo('on-the-air')">TV Shows On The Air</a>

    <span class="mx-2">|</span>

    <!-- TV Shows Airing Today -->
    <a href="" ng-click="ctrl.goTo('airing-today')">TV Shows Airing Today</a>
</div>

<!-- Now Playing -->
<div id="now-playing" style="margin-bottom: 4rem;">
    <h4>Now Playing</h4>
    <item-list list="ctrl.nowPlaying" type="movie" hide-table-header="true" show-overview="true"></item-list>
</div>

<!-- Upcoming -->
<div id="upcoming" style="margin-bottom: 4rem;">
    <h4>Upcoming</h4>
    <item-list list="ctrl.upcoming" type="movie" hide-table-header="true" show-overview="true" show-release-date="true"></item-list>
</div>

<!-- TV Shows On The Air -->
<div id="on-the-air" style="margin-bottom: 4rem;">
    <h4>TV Shows On The Air</h4>
    <item-list list="ctrl.onTheAir" type="show" hide-table-header="true" show-overview="true"></item-list>
</div>

<!-- TV Shows Airing Today -->
<div id="airing-today" style="margin-bottom: 4rem;">
    <h4>TV Shows Airing Today</h4>
    <item-list list="ctrl.airingToday" type="show" hide-table-header="true" show-overview="true"></item-list>
</div>