<!-- Now Playing -->
<div class="mb-4">
    <h4 class="p-4 mb-4 flat-bg-red flat-box-shadow">Now Playing</h4>
    <item-list list="ctrl.nowPlaying" type="movie" show-overview="true" color-theme="red"></item-list>
</div>

<!-- Upcoming -->
<div class="mb-4">
    <h4 class="p-4 mb-4 flat-bg-green flat-box-shadow">Upcoming</h4>
    <item-list list="ctrl.upcoming" type="movie" show-overview="true" show-release-date="true" color-theme="green"></item-list>
</div>

<!-- TV Shows On The Air -->
<div class="mb-4">
    <h4 class="p-4 mb-4 flat-bg-blue flat-box-shadow">TV Shows On The Air</h4>
    <item-list list="ctrl.onTheAir" type="show" show-overview="true" color-theme="blue"></item-list>
</div>

<!-- TV Shows Airing Today -->
<div class="mb-4">
    <h4 class="p-4 mb-4 flat-bg-orange flat-box-shadow">TV Shows Airing Today</h4>
    <item-list list="ctrl.airingToday" type="show" show-overview="true" color-theme="orange"></item-list>
</div>