<div class="container py-4">
    <div class="row">
        <div class="col s12">
            <ul tabs reload="allTabContentLoaded">
                <!-- Now Playing -->
                <li class="tab col s3">
                    <a class="active" href="#now-playing">Now Playing</a>
                </li>

                <!-- Upcoming -->
                <li class="tab col s3">
                    <a href="#upcoming">Upcoming</a>
                </li>

                <!-- TV Shows On The Air -->
                <li class="tab col s3">
                    <a href="#on-the-air">TV Shows On The Air</a>
                </li>

                <!-- TV Shows Airing Today -->
                <li class="tab col s3">
                    <a href="#airing-today">TV Shows Airing Today</a>
                </li>
            </ul>
        </div>
    </div>

    <!-- Now Playing -->
    <div class="row" id="now-playing">
        <item-list list="ctrl.nowPlaying" type="movie" show-overview="true"></item-list>
    </div>

    <!-- Upcoming -->
    <div class="row" id="upcoming">
        <item-list list="ctrl.upcoming" type="movie" show-overview="true" show-release-date="true"></item-list>
    </div>

    <!-- TV Shows On The Air -->
    <div class="row" id="on-the-air">
        <item-list list="ctrl.onTheAir" type="show" show-overview="true"></item-list>
    </div>

    <!-- TV Shows Airing Today -->
    <div class="row" id="airing-today">
        <item-list list="ctrl.airingToday" type="show" show-overview="true"></item-list>
    </div>
</div>