<div class="row details--flat">
    <!-- Background -->
    <div back-img="http://image.tmdb.org/t/p/w780{{ctrl.show.poster_path}}"></div>

    <div class="col-12 col-xl-9 p-0 mx-auto z-index-2">
        <!-- Name -->
        <h1 class="mb-4" ng-bind="ctrl.show.name"></h1>

        <!-- Details -->
        <div class="d-flex pb-4" style="background-color: rgba(0, 0, 0, 0.6)">
            <!-- Left Panel -->
            <div class="w-100 mr-4">
                <!-- Video -->
                <div ng-if="ctrl.trailer">
                    <div class="video-container embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" ng-src="{{ctrl.trailer}}" allowfullscreen></iframe>
                    </div>
                </div>

                <!-- Cast -->
                <div class="px-4 mt-4" ng-if="ctrl.show.credits.cast.length > 0">
                    <h4 class="mb-4">Cast</h4>
                    <cast cast-list="ctrl.show.credits.cast" color-theme="orange"></cast>
                </div>

                <!-- Similar TV Shows -->
                <div class="px-4 mt-4" ng-if="ctrl.show.similar.results.length > 0">
                    <h4 class="mb-4">Similar TV Shows</h4>
                    <similar-shows similar-shows="ctrl.show.similar.results" color-theme="blue"></similar-shows>
                </div>
            </div>

            <!-- Right Panel -->
            <div class="width-300px">
                <!-- Poster -->
                <div class="position-relative">
                    <!-- Rating -->
                    <rating rating="ctrl.show.vote_average" color-theme="blue"></rating>

                    <img src="http://image.tmdb.org/t/p/w300{{ctrl.show.poster_path}}" alt="{{ctrl.show.title}}" ng-if="ctrl.show.poster_path"
                    />
                    <img src="/resources/no-poster-w300.png" alt="{{ctrl.show.title}}" ng-if="!ctrl.show.poster_path" />
                </div>

                <div class="pr-4">
                    <!-- Overview -->
                    <div class="mt-2 pb-4" ng-bind="ctrl.show.overview" ng-if="ctrl.show.overview"></div>

                    <!-- Created By -->
                    <div class="mt-2" ng-if="ctrl.createdBy != ''">
                        <b>Created By:</b>
                        <div ng-bind="ctrl.createdBy"></div>
                    </div>

                    <!-- Genres -->
                    <div class="mt-2" ng-if="ctrl.show.genres.length > 0">
                        <b>Genres:</b>
                        <div ng-bind="ctrl.genres"></div>
                    </div>

                    <!-- First Air Date -->
                    <div class="mt-2" ng-if="ctrl.show.first_air_date">
                        <b>First Air Date:</b>
                        <div ng-bind="ctrl.show.first_air_date | date"></div>
                    </div>

                    <!-- Seasons -->
                    <div class="mt-2" ng-if="ctrl.show.number_of_seasons">
                        <b>Seasons:</b>
                        <div ng-bind="(ctrl.show.number_of_seasons + ' season' + (ctrl.show.number_of_seasons > 1 ? 's' : ''))"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>