<div class="row">
    <!-- Show infos -->
    <div class="col-8">
        <div class="mb-4" ng-if="ctrl.show != null">
            <div class="d-flex mb-2">
                <div class="w-100">
                    <!-- Name -->
                    <div class="font-size-1-5" ng-bind="ctrl.show.name"></div>

                    <!-- Details -->
                    <div class="d-flex align-items-center">
                        <!-- Genres -->
                        <div class="list-item-separator" ng-bind="ctrl.genres" ng-if="ctrl.show.genres.length > 0"></div>
                        <!-- First Air Date -->
                        <div class="text-nowrap list-item-separator" ng-bind="ctrl.show.first_air_date | date" ng-if="ctrl.show.first_air_date"></div>
                        <!-- Seasons -->
                        <div class="text-nowrap list-item-separator" ng-bind="(ctrl.show.number_of_seasons + ' season' + (ctrl.show.number_of_seasons > 1 ? 's' : ''))" ng-if="ctrl.show.number_of_seasons"></div>
                    </div>
                </div>

                <!-- Vote -->
                <div class="d-flex flex-column justify-content-center text-right ml-4">
                    <!-- Vote Average -->
                    <div class="font-size-1-5 text-nowrap" ng-bind="(ctrl.show.vote_average) + '/10'"></div>

                    <!-- Vote Count -->
                    <div class="text-nowrap" ng-bind="ctrl.show.vote_count + ' votes'"></div>
                </div>
            </div>

            <div class="d-flex mb-2">
                <!-- Poster -->
                <div class="image-container image-container--imdb image-container--w185 mr-2">
                    <img src="http://image.tmdb.org/t/p/w185{{ctrl.show.poster_path}}" ng-if="ctrl.show.poster_path != null" />
                </div>

                <!-- Video -->
                <div class="video-container video-container--imdb embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" ng-src="{{ctrl.trailer}}" allowfullscreen></iframe>
                </div>
            </div>

            <!-- Overview -->
            <div class="mb-4" ng-bind="ctrl.show.overview"></div>

            <!-- Created By -->
            <div ng-if="ctrl.createdBy != ''">
                <span class="font-weight-bold">Created By:</span>
                <span ng-bind="ctrl.createdBy"></span>
            </div>
        </div>

        <!-- Cast -->
        <cast cast-list="ctrl.show.credits.cast" ng-if="ctrl.show.credits.cast.length > 0"></cast>
    </div>

    <!-- Similar shows -->
    <div class="col-4" style="border-left: 1px dotted #565959">
        <similar-shows similar-shows="ctrl.show.similar.results"></similar-shows>
    </div>
</div>