<!-- Video -->
<div class="mb-4 black">
    <div class="container">
        <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" ng-src="{{ctrl.trailer}}" allowfullscreen ng-if="ctrl.trailer"></iframe>
            <div class="embed-responsive-item d-flex align-items-center justify-content-center white-text" ng-if="!ctrl.trailer">No video available</div>
        </div>
    </div>
</div>

<div class="row px-4">
    <div class="col s12 l7 xl8">
        <!-- Name -->
        <div class="d-flex align-items-center">
                <img class="mr-2" src="http://image.tmdb.org/t/p/w45{{ctrl.show.poster_path}}" alt="{{ctrl.show.name}}" ng-if="ctrl.show.poster_path"
                />
                <img class="mr-2" src="/resources/no-poster-w45.png" alt="{{ctrl.show.name}}" ng-if="!ctrl.show.poster_path" />
    
                <h5 ng-bind="ctrl.show.name"></h5>
            </div>

        <div class="divider my-4"></div>

        <!-- Details -->
        <div class="d-flex">
            <div class="w-100">
                <!-- Created By -->
                <div class="d-flex" ng-if="ctrl.createdBy != ''">
                    <b class="mr-2">Created By:</b>
                    <div ng-bind="ctrl.createdBy"></div>
                </div>

                <!-- First Air Date -->
                <div class="d-flex" ng-if="ctrl.show.first_air_date">
                    <b class="mr-2">First Air Date:</b>
                    <div ng-bind="ctrl.show.first_air_date | date"></div>
                </div>

                <!-- Seasons -->
                <div class="d-flex" ng-if="ctrl.show.number_of_seasons">
                    <b class="mr-2">Seasons:</b>
                    <div ng-bind="(ctrl.show.number_of_seasons + ' season' + (ctrl.show.number_of_seasons > 1 ? 's' : ''))"></div>
                </div>

                <!-- Genres -->
                <div class="d-flex" ng-if="ctrl.show.genres.length > 0">
                    <b class="mr-2">Genres:</b>
                    <div ng-bind="ctrl.genres"></div>
                </div>

                <!-- Overview -->
                <div class="mt-4" ng-bind="ctrl.show.overview" ng-if="ctrl.show.overview"></div>
            </div>

            <!-- Rating -->
            <rating rating="ctrl.show.vote_average"></rating>
        </div>

        <div class="divider my-4"></div>

        <!-- Cast -->
        <div ng-if="ctrl.show.credits.cast.length > 0">
            <h5 class="mb-4">Cast</h5>
            <cast cast-list="ctrl.show.credits.cast"></cast>
        </div>
    </div>

    <!-- Similar Shows -->
    <div class="col s12 l5 xl4 pl-4">
        <similar-shows similar-shows="ctrl.show.similar.results"></similar-shows>
    </div>
</div>