<div class="details--masonry">
    <!-- Fixed Panel -->
    <div class="details--masonry__fixed-panel pr-4">
        <!-- Name -->
        <h1 class="mb-4" ng-bind="ctrl.show.name"></h1>

        <!-- Poster & Rating -->
        <div class="details--masonry__poster position-relative mb-4">
            <rating rating="ctrl.show.vote_average"></rating>
            
            <img src="http://image.tmdb.org/t/p/w300{{ctrl.show.poster_path}}" alt="{{ctrl.show.name}}" ng-if="ctrl.show.poster_path" />
            <img src="/resources/no-poster-w300.png" alt="{{ctrl.show.name}}" ng-if="!ctrl.show.poster_path" />
        </div>

        <div class="row mx-0 mb-4">
            <!-- First Air Date -->
            <div class="col p-0" ng-if="ctrl.show.first_air_date">
                <div>First Air Date:</div>
                <div class="font-weight-normal" ng-bind="ctrl.show.first_air_date | date"></div>
            </div>

            <!-- Seasons -->
            <div class="col p-0" ng-if="ctrl.show.number_of_seasons">
                <div>Seasons:</div>
                <div class="font-weight-normal" ng-bind="(ctrl.show.number_of_seasons + ' season' + (ctrl.show.number_of_seasons > 1 ? 's' : ''))"></div>
            </div>
        </div>

        <!-- Genres -->
        <div ng-if="ctrl.show.genres.length > 0">
            <div>Genres:</div>
            <div class="font-weight-normal" ng-bind="ctrl.genres"></div>
        </div>
    </div>

    <!-- Scrollable Panel  -->
    <div class="details--masonry__scrollable-panel">
        <!-- Created By -->
        <div class="mb-4 pb-4" ng-if="ctrl.createdBy != ''">
            <div>Created By:</div>
            <div class="font-weight-normal" ng-bind="ctrl.createdBy"></div>
        </div>

        <!-- Overview -->
        <div class="mb-4 pb-4" ng-bind="ctrl.show.overview" ng-if="ctrl.show.overview"></div>

        <!-- Video -->
        <div class="mb-4 pb-4" ng-if="ctrl.trailer">
            <div class="video-container embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" ng-src="{{ctrl.trailer}}" allowfullscreen></iframe>
            </div>
        </div>

        <!-- Cast -->
        <div class="mb-4 pb-4" ng-if="ctrl.show.credits.cast.length > 0">
            <h3 class="mb-2">Cast</h3>
            <cast cast-list="ctrl.show.credits.cast"></cast>
        </div>

        <!-- Similar Shows -->
        <div ng-if="ctrl.show.similar.results.length > 0">
            <h3 class="mb-2">Similar TV Shows</h3>
            <similar-shows similar-shows="ctrl.show.similar.results"></similar-shows>
        </div>
    </div>
</div>