.video-container {
  position: relative;
  /* display: flex;
  align-items: center; */
}

.video-container::after {
  position: absolute;
  top: 0;
  left: 0;
  font-family: "FontAwesome";
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  font-size: 2em;
}

.video-container::after {
  content: "\f1c8";
  font-size: 4rem;
}

.embed-responsive-item {
  z-index: 1;
}

.video-container--imdb {
  color: #bfbfbd;
  flex: 1;
}