/* Masonry Theme */
/* https://color.adobe.com/AGERA-color-theme-10622722/ */
/* https://color.adobe.com/TGF-greyscale-color-theme-657477/ */

.page-content-wrapper--masonry {
  font-family: "Open Sans", sans-serif;
}

.page-content-wrapper--masonry * {
  font-weight: bolder;
}

/* masonry layout */
.grid:after {
  content: "";
  display: block;
  clear: both;
}

.masonry-brick {
  margin-bottom: 1%;
  overflow: hidden;
  display: none;
}

.masonry-brick.loaded {
  display: block;
}

.grid-sizer,
.masonry-brick {
  width: 100%;
}

.gutter-sizer {
  width: 0;
}

@media (min-width: 576px) {
  .grid-sizer,
  .masonry-brick {
    width: 49.5%;
  }

  .gutter-sizer {
    width: 1%;
  }
}

@media (min-width: 768px) {
  .grid-sizer,
  .masonry-brick {
    width: 32.6666667%;
  }
}

@media (min-width: 992px) {
  .grid-sizer,
  .masonry-brick {
    width: 24.25%;
  }
}

@media (min-width: 1200px) {
  .grid-sizer,
  .masonry-brick {
    width: 15.8333333333%;
  }
}

/* page header */
#logo {
  font-family: "Lobster", cursive;
  color: #ff3141;
  font-size: 2rem;
  text-decoration: none;
}

.page-header--masonry {
  height: 65px;
  font-size: 1.4rem;
  background-color: #ffffff;
  color: #656565;
}

.page-header--masonry * {
  color: #656565;
}

.page-header--masonry__search {
  border-radius: 0.5rem;
  line-height: 1;
  outline: 0;
  background-color: #f1f1f1;
}

/* dropdown */
.dropdown--masonry:nth-child(1).show .dropdown-toggle--masonry  {
  color: #007ed9;
}

.dropdown--masonry:nth-child(2).show .dropdown-toggle--masonry  {
  color: #3fb03c;
}

.dropdown-toggle--masonry {
  cursor: pointer;
}

.dropdown-toggle--masonry::after {
  display: none;
}

.dropdown-menu--masonry {
  border: 0;
  border-radius: 0.5rem;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  padding: 0;
  overflow: hidden;
}

.dropdown-item--masonry {
  color: inherit;
  padding: 1rem;
}

.dropdown-item--masonry:hover {
  color: inherit;
  background-color: #f1f1f1;
}

/* cards */
.card--masonry__hover,
.vote_avg--masonry {
  position: absolute;
  top: 0.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 5;
}

.vote_avg--masonry {
  background-color: #ffffff;
  top: 0.8rem;
  right: 0.8rem;
  width: 4.2rem;
  height: 4.2rem;
  border-radius: 50%;
  font-size: 1.6rem;
}

.vote_avg--masonry.sm {
  top: 0.4rem;
  right: 0.4rem;
  width: 3rem;
  height: 3rem;
  font-size: 1.2rem;
}

.vote_avg--masonry--nice {
  color: #3fb03c;
}

.vote_avg--masonry--bleh {
  color: #ff3141;
}

.card--masonry__hover {
  background-color: #ff3141;
  color: #ffffff;
  left: 0.8rem;
  border-radius: 0.25rem;
  padding: 0.5rem;
}

.card--masonry {
  position: relative;
  border: 0;
  background-color: #f1f1f1;
  border-radius: 0.5rem;
  cursor: pointer;
}

.card--masonry:hover {
  background-color: #e4e4e4;
}

.card--masonry > img {
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

/* caetgories */
.category--masonry {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 0.5rem;
  background-color: #f1f1f1;
  margin: 0;
  padding: 1rem;
  cursor: pointer;
}

.category--masonry:not(:last-child) {
  margin-right: 1%;
}

.category-1--masonry {
  background-color: #ff3141;
  color: #ffffff;
}

.category-2--masonry {
  background-color: #007ed9;
  color: #ffffff;
}

.category-3--masonry {
  background-color: #3fb03c;
  color: #ffffff;
}

.category-4--masonry {
  background-color: #ffaf3d;
  color: #ffffff;
}

/* /movie */
.details--masonry {
  margin: 0 auto;
  max-width: 1200px;
  position: relative;
}

.details--masonry__fixed-panel {
  position: fixed;
  width: 400px;
  z-index: 1;
}

.details--masonry__scrollable-panel {
  padding-left: 400px;
}

.details--masonry__poster {
  width: 300px;
}

.details--masonry__poster > img {
  border-radius: 0.5rem;
  margin-bottom: 1%;
}
