/* Flat Theme */
/* https://color.adobe.com/metro-color-theme-10485401/ */

.page-content-wrapper--flat {
  background-color: #212121;
  color: #fff;
}

.page-header--flat {
  background-color: #000000;
  height: 40px;
  padding: 0;
}

.page-header-search--flat {
  display: flex;
  align-items: center;
  margin-left: auto;
  height: 100%;
  min-width: 40px;
  color: #ffffff;
  position: relative;
}

.page-header-search--flat > label {
  font-size: 1.2rem;
  width: 40px;
  height: 40px;
  display: flex;
  position: absolute;
  left: 0;
  align-items: center;
  justify-content: center;
  pointer-events: none;
  touch-action: none;
  margin: 0;
}

.page-header-search--flat > input {
  flex: 1 1 auto;
  height: 100%;
  width: 0;
  border: 0;
  background-color: transparent;
  color: #ffffff;
  transition: all 0.2s ease-in-out;
}

.page-header-search--flat > input.ng-not-empty,
.page-header-search--flat > input:focus {
  outline: 0;
  padding: 0 1.5rem 0 40px;
  width: 300px;
}

.dropdown.dropdown--flat {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100%;
}

.dropdown-toggle.dropdown-toggle--flat {
  color: #ffffff;
  font-size: 1.2rem;
  cursor: pointer;
  height: 100%;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.dropdown-toggle.dropdown-toggle--flat:hover,
.dropdown.dropdown--flat.show > .dropdown-toggle.dropdown-toggle--flat {
  background-color: #f1cf13;
  color: #000000;
}

.dropdown-toggle.dropdown-toggle--flat:after {
  display: none;
}

.dropdown-menu.dropdown-menu--flat {
  border-radius: 0;
  background-color: #000000;
  border: 0;
  margin: 0;
  color: #ffffff;
  padding: 0.5rem;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transform-origin: top;
  -ms-transform-origin: top;
  transform-origin: top;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-transform: scale(1, 0);
  -ms-transform: scale(1, 0);
  transform: scale(1, 0);
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  -webkit-transition: all 0.2s ease-out;
}

.dropdown-menu.dropdown-menu--flat.show {
  -webkit-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  transform: scale(1, 1);
}

.dropdown-menu--flat__column {
  margin: 0.5rem;
}

a.dropdown-item.dropdown-item--flat {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100px;
  height: 100px;
  padding: 0.5rem;
}

a.dropdown-item.dropdown-item--flat:not(:last-child) {
  margin-bottom: 1rem;
}

a.dropdown-item.dropdown-item--flat > i {
  font-size: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.flip-card {
  -webkit-perspective: 800;
  width: 185px;
  height: 278px;
  position: relative;
  color: #000000;
}

.flip-card--w92 {
  width: 92px;
  height: 138px;
}

.flip-card--w154 {
  width: 154px;
  height: 231px;
}

.flip-card__inner {
  width: 100%;
  height: 100%;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  cursor: pointer;
}

.flip-card__inner.flipped {
  -webkit-transform: rotateX(-180deg);
  transform: rotateX(-180deg);
}

.flip-card__face {
  width: 100%;
  height: 100%;
  position: absolute;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  z-index: 2;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.flip-card__face--front {
  position: absolute;
  z-index: 1;
  background: #ffffff;
}

.flip-card__face--front > img {
  height: 100%;
}

.flip-card__face--back {
  -webkit-transform: rotatex(-180deg);
  -ms-transform: rotatex(-180deg);
  transform: rotatex(-180deg);
  background: #ffffff;
  padding: 1rem;
}

.flip-card__title {
  position: absolute;
  bottom: 0;
  left: 0;
  text-align: center;
  padding: 0.5rem;
  width: 100%;
  z-index: 50;
}

.flat-box-shadow {
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19),
    0 6px 6px rgba(0, 0, 0, 0.23);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.flat-scale {
  -webkit-transition: -webkit-transform 0.2s ease-in-out;
  transition: -webkit-transform 0.2s ease-in-out;
  -o-transition: transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
}

.flat-scale:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  z-index: 10;
}

.flat-scale__item {
  transition: font-size 0.2 ease-in-out;
}

.flat-scale:hover .flat-scale__item {
  font-size: 1.5rem;
}

.details--flat {
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 1 1 100%;
  margin: -1.5rem;
  padding: 1.5rem;
}

.details--flat::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* back-img */
div[back-img] {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.5;
}

div[back-img]::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: -moz-linear-gradient(
    top,
    rgba(255, 255, 255, 0) 0%,
    rgba(33, 33, 33, 1) 100%
  );
  background: -webkit-linear-gradient(
    top,
    rgba(255, 255, 255, 0) 0%,
    rgba(33, 33, 33, 1) 100%
  );
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0) 0%,
    rgba(33, 33, 33, 1) 100%
  );
}

.vote_avg--flat {
  position: absolute;
  top: 0;
  right: 0;
  width: auto;
  min-width: 30px;
  height: 30px;
  padding: 0 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  line-height: 30px;
}

.release-date--flat {
  position: absolute;
  top: 0;
  left: 0;
  width: auto;
  height: 30px;
  padding: 0 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  line-height: 30px;
}

.overflow-gradient {
  position: relative;
  height: 100%;
  overflow: hidden;
}

.overflow-gradient::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  display: block;
  height: 3rem;
  background: -moz-linear-gradient(
    top,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 1) 100%
  );
  background: -webkit-linear-gradient(
    top,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 1) 100%
  );
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 1) 100%
  );
}

.overflow-gradient--red::after {
  background: -moz-linear-gradient(
    top,
    rgba(255, 255, 255, 0) 0%,
    #bd143c 100%
  );
  background: -webkit-linear-gradient(
    top,
    rgba(255, 255, 255, 0) 0%,
    #bd143c 100%
  );
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0) 0%,
    #bd143c 100%
  );
}

.overflow-gradient--blue::after {
  background: -moz-linear-gradient(
    top,
    rgba(255, 255, 255, 0) 0%,
    #159ad7 100%
  );
  background: -webkit-linear-gradient(
    top,
    rgba(255, 255, 255, 0) 0%,
    #159ad7 100%
  );
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0) 0%,
    #159ad7 100%
  );
}

.overflow-gradient--green::after {
  background: -moz-linear-gradient(
    top,
    rgba(255, 255, 255, 0) 0%,
    #02a74b 100%
  );
  background: -webkit-linear-gradient(
    top,
    rgba(255, 255, 255, 0) 0%,
    #02a74b 100%
  );
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0) 0%,
    #02a74b 100%
  );
}

.overflow-gradient--orange::after {
  background: -moz-linear-gradient(
    top,
    rgba(255, 255, 255, 0) 0%,
    #de8500 100%
  );
  background: -webkit-linear-gradient(
    top,
    rgba(255, 255, 255, 0) 0%,
    #de8500 100%
  );
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0) 0%,
    #de8500 100%
  );
}

.flat-bg-red,
.flat-bg-red:hover {
  background-color: #bd143c;
  color: #ffffff;
}

.flat-bg-blue,
.flat-bg-blue:hover {
  background-color: #159ad7;
  color: #ffffff;
}

.flat-bg-green,
.flat-bg-green:hover {
  background-color: #02a74b;
  color: #ffffff;
}

.flat-bg-orange,
.flat-bg-orange:hover {
  background-color: #de8500;
  color: #ffffff;
}

.flat-bg-yellow,
.flat-bg-yellow:hover {
  background-color: #f1cf13;
  color: #000000;
}
