.btn-floating {
  min-width: 40px;
  min-height: 40px;
}

.nav-wrapper--md {
  display: flex;
}

.navbar-menu-toggle--md {
  width: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar-form--md {
  flex-basis: 100%;
}

.nav-wrapper .input-field input[type="search"] {
  margin-bottom: 0;
}

.input-field input[type="search"] + label {
  transform: none;
}

input:not([type]):focus:not([readonly]),
input[type="text"]:not(.browser-default):focus:not([readonly]),
input[type="password"]:not(.browser-default):focus:not([readonly]),
input[type="email"]:not(.browser-default):focus:not([readonly]),
input[type="url"]:not(.browser-default):focus:not([readonly]),
input[type="time"]:not(.browser-default):focus:not([readonly]),
input[type="date"]:not(.browser-default):focus:not([readonly]),
input[type="datetime"]:not(.browser-default):focus:not([readonly]),
input[type="datetime-local"]:not(.browser-default):focus:not([readonly]),
input[type="tel"]:not(.browser-default):focus:not([readonly]),
input[type="number"]:not(.browser-default):focus:not([readonly]),
input[type="search"]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
  border-bottom: 0;
  box-shadow: none;
}

.side-nav--md {
  width: 250px;
}

.side-nav li.side-nav-logo--md {
  margin: 16px 0 32px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.side-nav li.side-nav-logo--md > a {
  text-shadow: rgb(0, 42, 100) 0px 0px 0px, rgb(0, 43, 102) 1px 1px 0px,
    rgb(0, 44, 104) 2px 2px 0px, rgb(0, 45, 107) 3px 3px 0px,
    rgb(0, 46, 109) 4px 4px 0px, rgb(0, 46, 111) 5px 5px 0px,
    rgb(0, 47, 113) 6px 6px 0px, rgb(0, 48, 115) 7px 7px 0px,
    rgb(0, 49, 117) 8px 8px 0px, rgb(0, 50, 119) 9px 9px 0px,
    rgb(0, 51, 122) 10px 10px 0px, rgb(0, 52, 124) 11px 11px 0px,
    rgb(0, 53, 126) 12px 12px 0px, rgb(0, 54, 128) 13px 13px 0px,
    rgb(0, 55, 130) 14px 14px 0px, rgb(0, 56, 132) 15px 15px 0px,
    rgb(0, 56, 134) 16px 16px 0px, rgb(0, 57, 137) 17px 17px 0px,
    rgb(0, 58, 139) 18px 18px 0px, rgb(0, 59, 141) 19px 19px 0px;
  font-size: 40px;
  color: rgb(255, 255, 255);
  height: 150px;
  width: 150px;
  line-height: 150px;
  border-radius: 50%;
  text-align: center;
  background-color: rgb(0, 60, 143);
}

.similar-movies--md__title {
  font-size: 16px;
}

.card-image--md--300 {
  height: 172px;
}

.card-image--md--300 > img {
  height: 100%;
}

.collection--md,
.collection--md .collection-item--md {
  border: 0;
}

.collection--md .collection-item--md.avatar {
  padding-left: 58px;
}

.collection--md .collection-item--md.avatar:not(.circle-clipper) > .circle,
.collection--md .collection-item--md.avatar :not(.circle-clipper) > .circle {
  width: 45px;
  height: 45px;
  left: 0;
}

.collection--md
  .collection-item--md.avatar:not(.circle-clipper)
  > .circle
  > img,
.collection--md
  .collection-item--md.avatar
  :not(.circle-clipper)
  > .circle
  > img {
  position: absolute;
  top: -12px;
}

.tabs .tab a {
  color: rgba(21, 101, 192, 0.7);
}

.tabs .tab a:hover,
.tabs .tab a.active {
  color: #1565c0;
}

.tabs .indicator {
  background-color: #1565c0;
}

.btn,
.btn-floating,
.btn-floating:hover,
span.badge.new {
  background-color: #e53935;
}
