/* IMDB Theme */
/* https://color.adobe.com/Palacio-color-theme-478844/ */

.page-content-wrapper--imdb {
  font-family: Verdana, Arial, sans-serif;
  background-color: #f2efe9;
  color: #343840;
}

.page-content-wrapper--imdb a {
  color: blue;
}

.page-content--imdb {
  width: 1008px;
  margin: 0 auto;
  overflow: hidden;
  background-color: #ffffff;
}

.page-header--imdb {
  background-color: #bfbfbd;
  border-bottom: 2px solid #565959;
}

a.page-header__logo--imdb {
  color: #343840;
}

.page-header-dropdown-menu--imdb {
  border-radius: 0;
  background-color: #343840;
  border: 0;
}

a.page-header-dropdown-item--imdb {
  color: #ffffff;
}

a.page-header-dropdown-item--imdb:hover {
  color: #ffffff;
  text-decoration: underline;
  background-color: transparent;
}

.carousel--imdb__title {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 34px;
  background-color: #bfbfbd;
  z-index: 2;
  display: flex;
  width: 100%;
  align-items: center;
  font-size: 0.85rem;
  padding: 0.5rem;
  font-weight: 600;
  line-height: 1.2;
  color: #343840;
}

.slick-dots {
  bottom: unset;
  margin: 0;
}

.list-item-separator:not(:last-child)::after {
  content: "|";
  padding: 0 0.5rem;
}
