.font-size-1 {
  font-size: 1rem !important;
}

.font-size-1-3 {
  font-size: 1.3rem !important;
}

.font-size-1-5 {
  font-size: 1.5rem !important;
}

.font-size-2 {
  font-size: 2rem !important;
}

.font-size-3 {
  font-size: 3rem !important;
}

.text-decor-none {
  text-decoration: none !important;
}

.text-decor-underline {
  text-decoration: underline !important;
}

.pointered {
  cursor: pointer !important;
}

.rounded-2 {
  border-radius: 0.5rem !important;
}

.rounded-3 {
  border-radius: 1rem !important;
}

.round {
  border-radius: 50%;
}

.ellipsis {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.overflow-hidden {
  overflow: hidden;
}

.z-index-2 {
  z-index: 2;
}

.width-300px {
  width: 300px;
}