<div class="container py-4">
    <div infinite-scroll="ctrl.loadMore()" infinite-scroll-disabled='ctrl.busy' infinite-scroll-distance='0.5' ng-if="ctrl.showsToDiscover.length > 0">
        <div class="row">
            <item-list list="ctrl.showsToDiscover" type="show" show-rating="true" show-release-date="true" date-format="yyyy" show-overview="true"></item-list>
        </div>
    </div>
</div>