<div infinite-scroll="ctrl.loadMore()" infinite-scroll-disabled='ctrl.busy' infinite-scroll-distance='0.5' ng-if="ctrl.showsToDiscover.length > 0">
    <item-list list="ctrl.showsToDiscover" type="show" show-overview="true" show-rating="true" show-release-date="true" date-format="yyyy" color-theme="orange"></item-list>
</div>