<div class="container py-4">
    <div class="row">
        <item-list list="ctrl.topRatedShows" type="show" show-index="true" show-rating="true" show-release-date="true" date-format="yyyy" show-overview="true"></item-list>
    </div>
</div>